@model IEnumerable<GymMaster.Models.Trainer>

@{
    ViewBag.Title = "Index";
}


<div class="form-group">
    <br />
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Додади вработен", "Create")
        }
    </p>
</div>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <img style="max-width: 200px; height: 200px" src="@item.Image" />
                <br />
                @Html.DisplayFor(modelItem => item.FullName)
                <br />
                @Html.ActionLink("Информации", "Details", new { id = item.Id })

                @if (User.IsInRole("Admin"))
                {
                    <label> | </label>
                    @Html.ActionLink("Измени", "Edit", new { id = item.Id });
                    <label> | </label>
                    @Html.ActionLink("Избриши", "Delete", new { id = item.Id });
                    <label> | </label>
                    @Html.ActionLink("Додели клиент", "AddToTrainer", new { id = item.Id });
                }
            </div>
        }
    </div>
</div>

